<div class="user-details">
  <h1> Featured Projects </h1>
</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="Anime" src="{{ "/assets/img/Anime.png" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-right">
    <h3> Anime Recommender </h3>
    <p>Through the implementation of and cosine similarity techniques, I devised an end-to-end anime recommendation system, boasting an impressive 85% precision in offering tailored anime selections to users.
     </p>
    <p align="center">
      <a class="project-link" href="https://anime-ghze.onrender.com/">Project Link</a>
    </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Spotify" src="{{ "/assets/img/Spotify_dashboard.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3>Spotify Tableau Dashboard</h3>
    <p>I created an interactive Tableau dashboard that presents individualized Spotify insights, into my music preferences and habits. Using my own data.</p>
      <p align="center"><a class="project-link" href="https://public.tableau.com/app/profile/kanish.chugh/viz/YetAnotherSpotifyViz/Dashboard1">Check it out</a></p>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="particle-physics" src="{{ "/assets/img/Second_opinion.png" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-left">
    <h3> Second Opinion </h3>
    <p>Led the development of a comprehensive medical project facilitating widespread access to second opinions on medical records. Implemented an advanced disease prediction pipeline utilizing Deep Learning and Machine Learning algorithms with a significant dataset (~1TB). Significant contributions in leveraging AI technologies to enhance medical diagnostics for accurate and efficient disease diagnosis.
     </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="reading" src="{{ "/assets/img/kepler.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Kepler Mission: Celestial Bodies Classification </h3>
    <p>
      Developed an Astronomy project using data from NASA's Kepler mission to classify celestial objects as Exoplanets or not. Employed data mining algorithms and machine learning techniques achieving 85% precision for personalized anime recommendations.
    </p>
    <p align="center">
      <a class="project-link" href="https://github.com/kanishchugh/Celestial-Bodies-Classification">Check it out</a>
    </p>
  </div>
</div>

<div class="user-projects">
  <div class="contents-left">
    <h3> Anomaly Detection in Time Series Data </h3>
    <p>
      evising a robust anomaly detection pipeline utilizing VAR modeling and statistical tests, I proficiently cleaned and visualized time series data, elevating data reliability and integrity.
    </p>
    <p align="center"><a class="project-link" href="https://github.com/kanishchugh/Anomaly-Detection">Check it out</a></p>
  </div>
</div>


<div class="user-projects">
  <div class="contents-left" style="margin: 0; top: 50%">
    <h3> Marketing Campaign Effectiveness </h3>
    <p> Conducted an A/B test to evaluate marketing promotions' effectiveness, comparing Promotion 1, Promotion 2, and Promotion 3. Utilized ANOVA and post-hoc tests to identify significant sales variations, recommending focus on Promotions 1 and 3, while exploring enhancements for Promotion 2.
      </p>
      <p align="center"><a class="project-link" href="https://github.com/kanishchugh/Marketing-Campaign-AB-Testing">Check it out</a></p>
  </div>
</div>

<div class="user-projects">
  <div class="contents-left">
    <h3>Echelon </h3>
    <p>This script is responsible for extracting data from a music website and storing it in a PostgreSQL database. It utilizes the Selenium library to interact with the website and BeautifulSoup library to parse the HTML content.
     </p>
     <p align="center">
       <a class="project-link" href="https://github.com/kanishchugh/Echelon">Check it out</a>
     </p>
  </div>
</div>


  <div class="user-projects">
    <div class="images-left">
      <img alt="reading" src="{{ "/assets/img/music.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Other Interests </h3>
      <p>
        Apart from data and technology, my hobbies include exploring new genres of music, exploring new technologies and gymming to keep my body in shape ofc ;)
      </p>
      </div>
  </div>
</div>
